#myCanvas {
    border: 1px solid black;
    background-color: lightgrey;
}

body{
    margin: 0; 
    overflow: hidden;
}

.headerCanvas{
    display: flex; 
    width: 100%; 
    height: 100vh;
}

#myCanvas{
    display: block;
}

